@using System.Collections.ObjectModel
@using System.Diagnostics
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "SearchResults";
    var flights = TempData["Flights"];
    var flightsObjects = (Collection<FlightSearchModel>)TempData["FlightObjects"];
    var departureDate = HttpContextAccessor.HttpContext.Session.GetString("departureDate");
    var returnDate = HttpContextAccessor.HttpContext.Session.GetString("returnDate");
    var passengers = HttpContextAccessor.HttpContext.Session.GetInt32("Passengers");
}


<h1>SearchResults</h1>
<div id="results">
    <div id="flights">
        @for (var i = 0; i < flightsObjects.Count; i++)
        {
            <div id="flight">
                <div id="image" style="background-image: @flightsObjects[i].image" />
                <div id="dates">
                    <span>@flightsObjects[i].departureAirport - @flightsObjects[i].arrivalAirport</span>
                    <span>@departureDate - @flightsObjects[i].time</span>
                    <span>
                        @flightsObjects[i].arrivalAirport - @flightsObjects[i].departureAirport
                    </span>
                    <span>@returnDate - @flightsObjects[i].time</span>
                    <span name="price">@flightsObjects[i].PriceCalculated kr</span>


                </div>
                <form name="book" action="/Booking/Flight" method="POST">
                    <input type="hidden" value="@flightsObjects[i].id" name="id" />
                    <input type="hidden" value="@flightsObjects[i].departureAirport" name="departureAirport" />
                    <input type="hidden" value="@flightsObjects[i].arrivalAirport" name="arrivalAirport" />
                    <input type="hidden" value="@departureDate" name="departureDate" />
                    <input type="hidden" value="@returnDate" name="returnDate" />
                    <input type="hidden" value="@flightsObjects[i].time" name="time" />
                    <input type="hidden" value="@flightsObjects[i].price" name="price" />
                    <input type="hidden" value="@flightsObjects[i].image" name="image" />
                    <input type="hidden" value="@passengers" name="passengers" />
                    <button id="flight-@i">Book</button>
                </form>
            </div>
        }
    </div>
</div>
@Html.ValidationSummary()



<style>
    #results {
        width: 65vw;
        background-color: aqua;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    #flights {
        display: flex;
        flex-direction: column;
        width: 200px;
        flex-wrap: wrap;
        background-color: tomato;
        justify-content: center;
        align-content: center;
    }

    #flight {
        display: flex;
        background-color: grey;
    }
</style>



